#test1>p:only-child{
    background-color: aqua;
}

#test2>p:only-of-type{
    background-color: aquamarine;
}

#test3>p:empty{
    background-color: lime;

    height: 30px;
}

/* 여러 선택자 동시 선택 */

#test4-1,#test4-2,#test4-3{
    background-color: yellow;
    border:3px solid black;
    margin-bottom: 10px;

}


/* 특정 요소 내부에 있는 특정 클래스만 선택 */

/* #test6-1의 후손 중 클래스가 c5인 요소 선택 */

#test5-1 .c5{
    background-color: aquamarine;
}

/* #test5-2의 자식중 클래스가 c5인 li 요소만 선택 */

#test5-2>li.c5{
    background-color: aqua;
}

/*   
클래스 검색 시에 띄어쓰기 한다는 건 
후손중에서 결과값을 찾겠다는 것이 되므로 
잘 구분해서 사용하여야함
*/




/* 클래스가 여러개인 요소만 선택 */

.test6.c6{
    background-color: yellowgreen;
}