/* 
 박스 색 rgb(57, 41, 41);
 글자 색 rgba(255, 255, 255, 0.589);
 장르 단추 색 rgb(108, 136, 179);

*/

*{
    box-sizing: border-box;
    margin: 0;
    padding : 0;
}

div {
    /* border : 2px solid rgb(202, 88, 88); */
}

#root {
    background: black;
    display : flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color : white;
}

i {
    color : white;
}

span{
    color : white;
}

.content {
    width: 10%;
    display : flex;
    flex-direction: column;
}
.top {
    display : flex;
}
.backpage {
    margin-top : 15px;
    margin-left : 15px;
    font-size: 30px;
    color: aliceblue;
    background-color: transparent;
}

main {
    margin-top: 100px;
    display : flex;
}

main > div:nth-of-type(1){
    flex-basis: 15%;
}
main > div:nth-of-type(2){
    flex-basis: 70%;
    max-width: 1000px;
    min-width: 00px;

}
main > div:nth-of-type(3){
    flex-basis: 15%;
}

.profile {
    justify-content: center;
}

.profilebox{
    
    height : 100px;
    padding : 10px;
    display : flex;
}

.profpic {
    height: 100%;
    width : 10%;
    text-align: center;
    justify-content: center;
    line-height: 60px;
    color : gray;
}

#propic {
    font-size: 70px;
    text-align: center;
    justify-content: center;
    line-height: 60px;
}

#propic{
    color : rgb(117, 105, 100);
}
.profif {
    margin-left : 20px;
    display : flex;
    flex-direction: column;
}

.name {
    font-size: 20px;
    font-weight: bold;
}


.email > span{
    color: gray;
}
.box1 {
    margin-top: 16px;
    height : 140px;
    border-radius: 25px;
    background-color: rgb(57, 41, 41);
    display : flex;

    text-align: center;
    
}

.boxnum {
    font-size: 30px;
    font-weight: bold;
}
.boxlit {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.589);
}

.box1 > div:nth-of-type(1){
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    
}
.box1 > div:nth-of-type(2){
    flex-basis: 34%;
    display: flex;
    flex-direction: column;
}
.box1 > div:nth-of-type(3){
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
}
.box1 > div > a {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}




.box2 {
    margin-top: 16px;
    margin-bottom: 14px;
    height : 200px;
    
    border-radius: 25px;
    background-color: rgb(57, 41, 41);
    display : flex;
    flex-direction: column;
}

.box2 > div > a {
    margin-left: 50px;
    line-height: 100px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.589);
}


.box2>div:nth-of-type(1) {
    flex-basis: 50%;
}


.box2>div:nth-of-type(2) {
    flex-basis: 50%;
}

.box2>hr {
    width: 90%;
    margin:auto;
    border: 2px solid rgb(117, 105, 100);
}

.genre {
    width : 80px;
    height : 25px;
    border-radius: 10px;
    font-weight: bold;
    border-style: none;
    background-color: rgb(108, 136, 179);
    color : white;
    margin : 5px
}

.box3 {
    margin-top: 16px;
    margin-bottom: 14px;
    height : 250px;
    display : flex;
    flex-direction: column;
}
.lifemovie {
    height : 100%;
    margin-top : 10px;
    display : flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.limoview {
    height : 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 150px;
}
.limosub {
    height : 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.limosub > button {
    width: 180px;
    height : 50px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color:rgb(41, 128, 185);
    border-radius: 10px;
    
}

.empty{
    height: 300px;
}
